.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  /* background-color: #b76e79; */
  align-items: center;
  justify-content: center;
}

.xogrid {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.xosquare {
  width: 80px;
  height: 80px;
  background-color: #62ff62;
  margin: 10px;
  text-align: center;
  line-height: 150%;
  font-weight: bold;
  font-size: 50px;
  cursor: pointer;
}
